@import "node_modules/ol/ol.css";

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#map {
  width: 100vw;
  height: 100vh;
  position: relative; /* Hinzugefügt: Setzen Sie die Position des Karten-DIV auf relative */
}

.ol-search ul {
  color: #333;
  font-size:0.85em;
  max-width: 21em;
  z-index: 20000;
}
.ol-search ul i {
  display: block;
  color: #333;
  font-size:0.85em;
}
.ol-search input[type="search"] {
  font-size: 14px; /* Ändere die Textgröße nach Bedarf */
}

.info {
  display: inline-block;
  font-size: 14px;
  width: 150px; /* Ändere die Breite nach Bedarf */
}


.info a img {
  height: 100px;
  margin-right: .5em;
  float: left;
}
